.homeScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  /* 80vh */
}
.homeScreenContainer h2 {
  font-size: 5rem;
  color: white;
  text-align: center;
}
.homeScreenContainer img {
  width: 500px;
  opacity: 0.8;
}
.allDifficultyBtn {
  display: flex;
  gap: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .homeScreenContainer h2 {
    font-size: 3rem;
    text-align: center;
  }
  .allDifficultyBtn {
    flex-direction: column;
  }
}
