.loadinScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokeball {
  animation: loadingEffect 1s infinite;
}
@keyframes loadingEffect {
  0% {
    transform: rotate(0) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.loadingText {
  font-size: 3rem;
  color: white;
}
