.scoreBoardContainer {
  position: relative;
  background-color: #17233e;
  color: white;
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}
.glowBackground {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: -1;
  border-radius: 1rem;
  filter: blur(3px);
}
